.sidebar {
    background-color: rgb(20, 20, 20) !important;
    
}

.lateral {
    background-color: rgb(20, 20, 20) !important;
    min-height: 100%;
    max-width: fit-content;
}

.texto {
    padding: 14px;
    color: white;
}