.sidebar {
    background-color: rgb(20, 20, 20) !important;
    width: 220px;
    
}

.lateral {
    background-color: rgb(20, 20, 20) !important;
    min-height: calc(100vh - 141px);
    max-height: auto;
}

.texto {
    padding: 14px;
    color: white;
}