.Barra-de-busqueda{
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    text-align: center;
    border: 2px solid black;
}

.Zona-cartas{
    margin: 0.5rem;
}

.carta{
    margin: 20px;
    padding: 20px;
}

.barraLateral{
    width: 220px !important;
}