.map-container{
  width: 100%;
  height: 85vh;
  border: 6px black solid;
}

.mini-titu{
  border: 2px black solid;
  text-align: center;
}

.listado{
  text-align: center;
  border: 2px black solid;
}

.boton{
  padding: 5%;
}

.barra{
  padding: 1%;
}

.barra-titular{
  text-align: center;
  border: 2px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.col-lateral{
  padding: 1%;
}

.col-map{
  padding: 1%;
}