.contenedor {
    display: flex;
}

.Barra-de-busqueda{
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    text-align: center;
    border: 2px solid black;
}

.Zona-cartas{
    justify-content: center;
    margin: 0.5rem;
}

.pagina {
    width: 423vh;
}

.card{
    margin: 10px;
    padding: 0;
}