footer{
    background-color: black;
    color: white;
    padding: 0.5rem;
    text-align: center;
    position: relative;
    bottom: 0;
}

.error-page{
    color: white;
    text-decoration: none;
}