.Apps{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap{
    flex:1;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}